<h1>ALL USER Coupons</h1>

{{!-- {{> home/form-msgs}} --}}
<div class="box-body" style="overflow-x:auto;">
<table id="example" class="table table-bordered">
<thead>
    <tr>
        <th>Name</th>
        <th>Product</th>
        <th>VendorName</th>
        <th>QR</th>
        <th>CreatedDate</th>
        <th>RedeemedDate</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
</thead>

<tbody>

    {{#each coupons}}
    <tr>
        {{!-- <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt=""></td> --}}
        <td>{{detail.user_name}}</td>
        <td>{{productID.name}}</td>
        <td>{{vendorID.vendor_name}}</td>
        <td>{{qrKey}}</td>
        <td>{{generateTime date 'MMMM Do YYYY'}}</td>
         <td>{{generateTime redeemed_date 'MMMM Do YYYY'}}</td>
         <td>
            {{v_status}}
             {{!-- {{#if (v_status ='true')}}
                        {{return true}}
                        {{else }}
                        {{return false}}
                        {{/if}} --}}
             </td>
        <td>
            <form action="/admin/coupons/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    
   
    </tr>
    {{/each}}

</tbody>
</table>
</div>