<h1>ALL SPONSERS</h1>

{{!-- {{> home/form-msgs}} --}}

<table class="table table-bordered">
<thead>
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Title</th>
        <th>Status</th>
        <th>Short Description</th>
        <th>Offers</th>
        <th>Date</th>
    </tr>
</thead>

<tbody>

    {{#each sponsers}}
    <tr>
        <td>{{id}}</td>
        <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{description}}</td>
        <td>{{offer}}</td>
        <td>{{generateTime date 'MMMM Do YYYY'}}</td>
        <td><a href="/admin/sponsers/edit/{{id}}" class="btn btn-info">Edit</a></td>
        <td><a href="/sponser/{{id}}" class="btn btn-info">View</a></td>
        <td>
            <form action="/admin/sponsers/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    
    </tr>
    {{/each}}

</tbody>



</table> 