<h1>CATEGORIES</h1>

{{!-- {{> home/form-msgs}} --}}
<div class="box-body" style="overflow-x:auto;">
<table id="example" class="table table-bordered">
<thead>
    <tr>
        
        <th>Vendor Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {{#each vendorlogs}}
    <tr>
        <td>{{vendor_id.vendor_name}}</td>
         <td>{{username}}</td>
          <td>{{password}}</td>
        <td>
             <a href="/admin/vendorlog/edit/{{id}}" class="btn btn-info">Edit</a>
            <form action="/admin/vendorlog/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form> 
        </td>
    
    </tr>
    {{/each}}

</tbody>
</table> 
</div>