<h1>ALL BLOGS</h1>

{{!-- {{> home/form-msgs}} --}}

<table class="table table-bordered">
<thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Discription</th>
        <th>Date</th>
    </tr>
</thead>

<tbody>

    {{#each blogs}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{generateTime date 'MMMM Do YYYY'}}</td>
        <td><a href="/admin/blogs/edit/{{id}}" class="btn btn-info">Edit</a></td>
        <td>
            <form action="/admin/blogs/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    
    </tr>
    {{/each}}

</tbody>



</table>