<h1>ALL USER's DAILY PROGRESSES</h1>

{{!-- {{> home/form-msgs}} --}}
<div class="box-body" style="overflow-x:auto;">
<table id="example" class="table table-bordered">
<thead>
    <tr>
        <th>Name</th>
        <th>Steps</th>
        <th>Date</th>
          <th>Actions</th>
    </tr>
</thead>

<tbody>

    {{#each subprogress}}
    <tr>
        {{!-- <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt=""></td> --}}
        <td>{{detail.user_name}}</td>
        <td>{{distance}}</td>
        <td>{{date}}</td>
        
        <td>
            <form action="/admin/subprogress/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
    
    </tr>
    {{/each}}

</tbody>
</table>
</div>